.dirt{
    margin: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: rgb(102, 51, 0);
    border: 10px solid rgb(0, 0, 0);
}
#container{
    width: 700px;
    height: 700px;
    margin: auto;
}

#dirtbox{
    width: 600px;
    height: 500px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 30px;
    border: 10px solid forestgreen;
}

#mole{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0px;
    background-image: url("");
    background-position: center;
    background-size: 80px;
}